<form (submit)="onRegisterForm()" class="form-signup">
  <h1 class="h3 mb-3 font-weight-normal">Join us!</h1>
  <label for="firstName" class="sr-only">First Name</label>
  <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" placeholder="First Name" required autofocus>

  <label for="lastName" class="sr-only">Email address</label>
  <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" placeholder="Last Name" required autofocus>
  <hr>

  <label for="email" class="sr-only">Email Address</label>
  <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="email" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
